.iframe-map{
    margin: 20px auto;
}

.registration-form h1{
    text-align: center;
}

.registration-form{
    margin: auto;
    padding: 20px;
    width: 50%;
}

.breadcrumbs{
    text-align: center;
    font-size: 26px;
    display: flex;
    justify-content: center;
    gap: 15px;
}

.breadcrumbs-active{
    background-color: lightslategrey;
    border-radius: 50%;
    padding: 1px 8px;
    color: white;
}

.route{
    text-align: right;
}

.share-links{
    display: flex;
    gap: 10%;
    justify-content: center;
}

.share-links a{
    text-decoration: none;
    font-size: 62px;
}

.member-image{
    width: 100px;
    height: 100px;
    object-fit:cover
}

.members-container{
    margin: 25px auto;
}

.members-container h2{
    border-bottom: 2px solid black;
    width: fit-content;
    margin: auto;
    text-align: center;
}

table{
    margin-top: 50px;
}

.members-page{
    margin-top: 10%;
}

.members-page a{
    text-decoration: none;
    font-size: 22px;
}