.iframe-map{
    margin: 20px auto;
}

.registration-form h1{
    text-align: center;
}

.registration-form{
    margin: auto;
    padding: 20px;
    width: 50%;
}

.breadcrumbs{
    text-align: center;
    font-size: 26px;
    display: flex;
    justify-content: center;
    gap: 15px;
}

.breadcrumbs-active{
    background-color: lightslategrey;
    border-radius: 50%;
    padding: 1px 10px;
    color: white;
}

.route{
    text-align: right;
}

.share-links{
    display: flex;
    gap: 10%;
    justify-content: center;
}

.share-links a{
    text-decoration: none;
    font-size: 62px;
}